
LittleSynth.xcodeproj/xcuserdata/ribier.xcuserdatad/xcschemes/xcschememanagement.plist

LittleSynth.xcodeproj/xcuserdata/ribier.xcuserdatad/xcschemes/LittleSynth.xcscheme

LittleSynth.xcodeproj/xcuserdata/ribier.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

LittleSynth.xcodeproj/project.xcworkspace/xcuserdata/ribier.xcuserdatad/UserInterfaceState.xcuserstate

LittleSynth.xcodeproj/project.xcworkspace/contents.xcworkspacedata
